# Basic

In [1]:
a, b, c = 1, 1e-5, 'jun'
print(a, b, c)

1 1e-05 jun

In [2]:
# 指数
a = 3 ** 2
print(a)

# python 整数可以非常大
2 ** 100, 2 ** 1000

9

(1267650600228229401496703205376,
 10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376)

In [3]:
# 十六进制用0x前缀. 0-9，a-f表示10 - 15
a = 0x12a # 1 * (16 ** 2) + 2 * (16 ** 1) + 10 * (16 ** 0)
print(a)

298

In [4]:
# new feature in python 3
a  = 3 / 2
print(a)

1.5

In [5]:
# in python3, 二分搜索算法注意：mid = start + (end - start) // 2

a  = 3 // 2
print(a)

1

In [6]:
# python None, C++: NULL, Java null
a = None
if a:
    print('not null')
else:
    print('null')

null

In [7]:
a, b = 10, 20
print(1 <= a <=b <= 100)

True

In [8]:
##SWAP variable
a, b = 'Jun', 'Gan'
a, b = b, a
print(a + " " + b)

Gan Jun

# Lambda

In [9]:
f = lambda x: 2 ** x
f(3)

8

In [10]:
func2 = lambda x, y : x + y
func2(4, 5)

9

In [11]:
nums = [1, 2, 3, 4]
def square(x):
    return x * x
list(map(square, nums))

[1, 4, 9, 16]

In [12]:
list(map(lambda x : x * x, nums)) # map

[1, 4, 9, 16]

In [13]:
list(filter(lambda x : x % 2 == 0, [1, 2, 3, 4, 5])) # filter

[2, 4]

In [14]:
b = [1, 2, 3, 4, 5, 7]    # filter
a = filter (lambda x: x % 2 == 1, b)
print(a)
print(list(a))

<filter object at 0x10c985e48>
[1, 3, 5, 7]

In [15]:
from functools import reduce # reduce
reduce (lambda x, y: y ** x, [1, 2, 3, 4])

262144

In [16]:
from functools import reduce # reduce
reduce (lambda x, y: x + y, [1, 2, 3, 4])

10

In [17]:
list_c = [('a', 4), ('c', 5), ('b', 3), ('z', 100)]
list_c.sort(key=lambda x: x[0])

In [18]:
print(list_c)

[('a', 4), ('b', 3), ('c', 5), ('z', 100)]

In [19]:
l = [0 for _ in range(10)]
print(l)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

y = np.random.randn(1000)
plt.hist(y,25)
plt.show

In [20]:
x = np.random.randn(1000)
y = np.random.randn(1000)
plt.scatter(x,y)
plot.show

NameError: name 'np' is not defined

# String

In [ ]:
str_1 = 'I\'m jun'
str_2 = "I'm jun"
print(str)
print(str_2)

In [ ]:
str1, str2, num1 = 'Jun', 'Gan', 3

str3 = "I want to say: %s %s" % (str1, str2)

print(str1 + ' ' + str2)
print(str1 * 3)
# have to use str function here
print(str1 + str(num1))
print(str3)
print(str1[-1])
print(str1[-2])

In [ ]:
# convert class to string
#__str__()
#__repr__()

class Student:
    def __init__(self, val):
        self.score = val
    def __repr__(self):
        return str(self.score)
    def __str__(self):
        return str(self.score)

student = Student (1)
print(student)

# demo * 运算符带来的副作用
# 即使里重复了10次， 但是这10个object 都还指向一个object
group = [student] * 10
group[1].score = 2
print(group[0])
print(group)


#correct method
group1 = [Student(1) for i in range (10)]
group1[1].score = 2
print(group1[0])
print(group1)

In [ ]:
# output character in String
for c in str1:
    print(c, end = "# ")
for idx in range(len(str1)):
    print(str1[idx], end = ",")

In [ ]:
# can't modify string
str1 = "hello"
str1 = "world"
print(str1)

str1 = "this is string example...wow!!! this is really sstring"
print (str1.replace("is", "was"))
print(str1)
print (str1.replace("is", "was", 3))

# 1, 2 index
print(str1[1:3])

# find string
print(str1.find("example"))
print(str1.find("examplee"))

In [ ]:
#range

## range(101) 会生成一个0~100的list
## range(m, n) 会生成一个m~n-1的list m < n
## range(n, m, -1) 会生成一个n到m-1的降序的list
## range(n, m, -2) 会生成一个n到m-1的降序的每隔一个数的list

for i in range(2):
    print(i)
print("======")
for i in range(2, 4):
    print(i)
print("======")
# forward
for i in range(4, 8, 2):
    print(i)
print("======")
# backward
for i in range(0, -10, -4):
    print(i)
print("======")

In [ ]:
#reverse String
#NP Style

# range (start, end, -1) -1 means reversed
str1="hello"
result = ''
for idx in range(len(str1) -1, -1 , -1):
    result += str1[idx]
print(result)
print("======")
#python style
print (str1[::-1])
print("======")

In [ ]:
# check non-empty string

# non python style 
#Note: both "" and " " are considered as empty string
name = "jun"
if name != '':
    print(name)

# python style
if name:
    print(name)

# List

In [ ]:
# 和C++ 不同的是可以是不同类型的
list_jun = [1, 2,"jun"]

print(list_jun[1])
print(list_jun[-1])

for item in list_jun:
    print(item, end = ', ')
print("\n======")
for i in range (0, len(list_jun)):
    print(list_jun[i], end = ', ')

In [ ]:
nums = [1, 2, 5, 4,3]
nums_copy = sorted (nums)
print(nums)
print(nums_copy)

In [ ]:
num1 = [1, 2]
num2 = [3, 4]
num3 = [3, 4]
# 拼接
# generate new object
print(num1 + num2)
print(num1 * 3)
print(1 in num1)
print(3 in num1)
print(len(num1))
num3[1] = 5
print(num3)
print("======")

# append & extend * delete
num1.extend(num2)
print(num1)
num1= [1, 2]
num1.append(num2)
print(num1)
del num1[1]
print(num1)
print(num1.pop())
print(num1)
# remove first matched item
num1.remove(1)
print(num1)
print("======")
#max
print(max(num2))
print(min(num2))
print("======")
# map()函数接受两个参数，一个是函数，一个是序列，map将传入的函数作用到序列的每个元素，并返回一个可以列表化的map对象@#
# zip()是Python的一个内建函数，它接受一系列可迭代的对象作为参数，将对象中对应的元素打包成一个个tuple（元组），然后返回由这些tuples组成的可list化的zip对象。若传入参数的长度不等，则返回list的长度和参数中长度最短的对象相同。利用*号操作符，可以将list unzip
num1=[1,2]
addList = list(map(lambda x: x[0]+x[1], zip(num1, num2)))
print(addList)

In [ ]:
#generate list
result = [i for i in range(0, 10) if i% 5 == 0]
print(result)

# not suggested
a = [0] * 10
print(a)

In [ ]:
import numpy as np
a = [1,2,3]
b = [2,3,4]
print(np.sum([a,b], axis = 0))
print("======")
a = np.array([1,2,3])
b = np.array([2,3,4])
print(a+b)

In [ ]:
#zip

a = [1,2,3]
b = [4,5,6]
c = [7,8,9,10,11]
zipped = zip(a,b)
# <zip object at 0x02B01B48> #返回的是一个对象 [(1, 4), (2, 5), (3, 6)]
print(zipped)
print(list(zip(a,c)))

In [ ]:
# join Strings in list
strs = ["Jun", "Gan"]
print(' | '.join(strs))
print(', '.join(strs))

In [ ]:
names = ["jun"]
#NP
if len(names) > 0:
    print(names)

# Python
if names:
    print(names)

In [ ]:
# print item in the same row with specific deli
nums = [1, 2, 3]
for num in nums:
    print(num, end = ', ')
print("\n===")
for num in nums:
    print(num, end = '# ')

# Tuple

In [ ]:
tup1 = (1,2,3)
tup2 = (1, 2, 'hello')
# tup3 is also tuple
tup3 = "a", "b", "c"
print(tup1)
print(len(tup1))
print(tup2)
print(type(tup3))
tup4 = ()
print(type(tup4))
###Note: tup5 is not tuple type
tup5 = (10)
print(type(tup5))
tup6= (10,)
print(type(tup6))

tup7 = tup1 + tup2
print(tup7)

# delete tuple 7
del tup7
print(tup7)

In [ ]:
# can't modify tuple
tup1[0] = 'world'

In [ ]:
a_list = [1, 2, 3]
print(type(a_list))
a_tup = tuple(a_list)
print(type(a_tup))

# convert 成 list后，就可以修改了
a_tup_list = list(tup1)
print(a_tup_list)
a_tup_list[0] = 10
print(a_tup_list)

In [ ]:
# tuble can contains list
# tuple 不可以修改，但是里面list 里额值可以修改
t = ("a", "b", ["x", "y"])
for item in t:
    print(item, end=", ")

print("\n===")

print(t[2])
t[2][1] = 'z'
t[2].append('x')
print(t)

In [ ]:
A = [10, 11, 12, 13, 14]
print(A[-1]) # last item in the array
print(A[-2]) # 倒数第二个元素
print(A[-2:]) # last two items in the array
print(A[:-2]) # everything except the last two items
print("\n===")
print(A[-3:-1]) # 倒数第三个 到 导数第一个 （不包括倒数第一个）
print(A[-3:-2]) # 倒数第三个 到 导数第二个 （不包括倒数第一个）
print(A[::-1])

# Set

In [ ]:
# discard & delete区别
# pop 有一个返回值的

In [31]:
set_1 = set([12, 15, 18.2, 'hello'])
set_2 = {12, 15, 18.2, 'hello'}
set_3 = set('hello')
set_4 = set() # empty set Note, you can't new {}. {} by defualt means empty dict

In [32]:
set_1.add('Jiuzhang')
set_1

{12, 15, 18.2, 'Jiuzhang', 'hello'}

In [33]:
set_1.update([11, 'abc']) # update can do batch "add"
set_1

{11, 12, 15, 18.2, 'Jiuzhang', 'abc', 'hello'}

In [35]:
# Read

In [36]:
for elem in set_1:
    print(elem, end=' ')

hello abc 11 12 15 18.2 Jiuzhang

In [37]:
12 in set_1

True

In [ ]:
# Delete

In [38]:
if 12 in set_1:
    set_1.remove(12)
set_1

{11, 15, 18.2, 'Jiuzhang', 'abc', 'hello'}

In [40]:
set_1.discard(13) # use discard, 当删除不存在的元素的时候，也不会报错
set_1

{11, 15, 18.2, 'Jiuzhang', 'abc', 'hello'}

In [41]:
set_1.pop() # pop返回删除的元素

'hello'

In [42]:
set_1

{11, 15, 18.2, 'Jiuzhang', 'abc'}

In [43]:
len(set_2)

4

In [ ]:
# inter-Set Operation

In [44]:
set_2

{12, 15, 18.2, 'hello'}

In [45]:
set_3

{'e', 'h', 'l', 'o'}

In [46]:
set_2.union(set_3) # Union 等价于 |

{12, 15, 18.2, 'e', 'h', 'hello', 'l', 'o'}

In [47]:
set_2 | set_3

{12, 15, 18.2, 'e', 'h', 'hello', 'l', 'o'}

In [48]:
set_1

{11, 15, 18.2, 'Jiuzhang', 'abc'}

In [55]:
set_2

{12, 15, 18.2, 'hello'}

In [49]:
set_2.intersection(set_1) # intersection 等价于 &

{15, 18.2}

In [50]:
set_2 & set_1

{15, 18.2}

In [51]:
set_2.difference(set_1) # in set 2, but not in set1 等价于 "-"

{12, 'hello'}

In [54]:
set_2 - set_1

{12, 'hello'}

In [56]:
set_2.symmetric_difference(set_1)   #  set2用set1没用， set1没有set2没有，等价于 "^"

{11, 12, 'Jiuzhang', 'abc', 'hello'}

In [57]:
set_2 ^ set_1

{11, 12, 'Jiuzhang', 'abc', 'hello'}

# Dict

In [ ]:
# define dict
# 定义list: []， 定义： tuple: ()
# 虽然定义Set, Dict都用 {}, 但是 {}默认表示空的dict, 如果要定义空的set 则要 set_jun= set()
dict_1 = {}
dict_2 = {'spam': 2, 'eggs': 3, 'food': {'ham': 1, 'ice': 2}}
dict_3 = dict(zip(['spam', 'eggs'], [2, 3]))

### Dict Create/Add

In [ ]:
dict_1[2] = 4
dict_1

In [ ]:
dict_1['jiuzhang'] = 0
dict_1

In [ ]:
# update can do batch "add"
dict_1.update(dict_3)
dict_1

### Dict Read

In [ ]:
if 'jiuzhang' in dict_1:
    print(dict_1['jiuzhang'])

In [ ]:
dict_1.get('jiuzhang', 0) # if not exist, 0 is the default return value

In [ ]:
dict_1.keys()

In [ ]:
dict_1.values()

In [ ]:
dict_1.items()

In [ ]:
#迭代遍历, recommended
for key in dict_2:
    print(key, dict_2[key])

In [ ]:
for key in dict_2.keys():
    print(key, dict_2[key])

In [ ]:
for (key, val) in dict_2.items():
    print(key, val)

### Dict udpate

In [ ]:
dict_1['jiuzhang'] = 100
dict_1

### Dict Delete

In [ ]:
dict_2.pop('spam') # 
dict_2

In [ ]:
del dict_2['food']
dict_2

In [ ]:
len(dict_2) # Dict size

In [ ]:
# list [], tuple (), dict {}, Set{}

scores = {"Jun": 100, "Gan":90, "jungan": 80}
print(scores["Jun"])
del scores["Gan"]
print(scores)
scores["jungan"]=99
print(scores)

print(scores.keys())
print(scores.values())
print(scores.items())

#(key, val) is tuple
for key, val in scores.items():
    print(key, val)

# Conditional Statemnt - if

In [25]:
# NP:
a, b = 11, 22
if a > 10:
    b = 20
else:
    b = 5
print(b)
print("=====")

#Python Style
b = 33 if a > 10 else 5
print(b)

20
=====
33

In [ ]:
a = 5

In [ ]:
if a < 5:
    print(a)
else:
    print(g)

In [ ]:
# 解释性语言的特征，只有执行到这句话 才会报错
if a <= 5:
    print(a)
else:
    print(g)

In [ ]:
if a >=5:
    print(a)
elif a >= 4:
    print(a)
elif a >=3:
    print(a)

In [ ]:
a=5
if a >10:
    b = 20
else:
    b = 5

b = 20 if a > 10 else 5

# Loop

In [ ]:
for i in range(5):
    if i == 3:
        continue
    print(i, end = ", ")

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i, end = ", ")

In [ ]:
# 0 ~ 100
for num in range(101):
    print(num, end=", ")

In [ ]:
for num in range(50, 101):
    print(num, end=", ")

In [ ]:
for num in range(100, 50, -1):
    print(num, end=", ")

In [ ]:
for num in range(50, 100, 2):
    print(num, end=", ")

In [ ]:
for num in range(100, 50, -2):
    print(num, end=", ")

In [ ]:
#enumerate to get both index and actual item value
scores = [90, 100, 80]
for index, score in enumerate(scores):
    print(index, score)
print("===")
for index, score in enumerate(scores):
    print(index, score, end = ", ")

In [ ]:
str_test = "cat.0.jpg"
print(str_test.split('.')[-1])

In [ ]:
a_list = [1, 2, 3]
print(a_list[-2:])

In [ ]:
print(a_list[:-2])

# Sort

In [21]:
nums  = [1, 2, 4, 5,3 ]

In [22]:
sorted_nums = sorted(nums) # 新的list, 原来的list 不变
sorted_nums

[1, 2, 3, 4, 5]

In [23]:
nums

[1, 2, 4, 5, 3]

In [24]:
nums.sort(reverse=True) # 原地排序， 改变原来的list

In [26]:
# key to sepcify the sorting attribute
tuples = [(1, 2), (2, -3), (-10, 5), (-13, 0)]

In [27]:
sorted(tuples, key = lambda x: x[1])

[(2, -3), (-13, 0), (1, 2), (-10, 5)]

In [28]:
sorted(tuples, key = lambda x: x[0] + x[1])

[(-13, 0), (-10, 5), (2, -3), (1, 2)]

In [29]:
from functools import cmp_to_key
def cmp(a, b):
    return (a[0] + a[1] - b[0] - b[1])
sorted(tuples, key = cmp_to_key(cmp))

[(-13, 0), (-10, 5), (2, -3), (1, 2)]